@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');


.intro { 
    background-color: #EEEFF1;
    margin: 0 auto;
    padding: 0 auto;
}
    .container {
        margin: auto;
        padding: 30px;
        width: 1200px;
     }

.nav-list {
    background-color: #EEEFF1;
}
.item {
    margin-right: 30px;
    display: inline-block;
}
.item-link {
    color: #000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.item-link-active {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #34547A;
}
.offer {
    margin: auto;
    padding: 30px;
    width: 1200px;
}
.offer-div {
  display: block;
  padding-left: 100px;
  padding-top: 89px;
}
.offer_title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.offer__description {
    padding-top: 50px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #727272;
}
.button {
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 18px;
  background: #34547A;
  color: #EEEFF1;
}

.about-me {
    margin: auto;
    padding: 30px;
    width: 1200px;
}
.block1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    font-size: 25px;
    font-weight: bold;
}
.about__description {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    font-size: 15px;
    color: #727272;
}
.cont {
    background: #34547A;
    margin: 0 auto;
    padding: 0 auto;;
}
.projects {
        margin: auto;
        padding: 30px;
        width: 1200px;
    /* max-height: 200px; */
}
.list {
    display: inline-block; 
    margin-left: 40px;
    /* padding-top: 60px;
    padding-left: 15px;
    margin-left: 55px; */
}
.fourty {
    display: inline-block;
    /* float: right; */
    margin-left: 40px;
    /* padding-left: 50px; */
    color: #FFF;
    /* margin-top: 10px; */
    font-family: 'Roboto', sans-serif;
   
}
.plus {
    font-size: 20px;
    font-weight: bold;
}
.how {
    background-color: #EEEFF1;
    margin: 0 auto;
    padding: 0 auto;
}
.work {
    margin: auto;
    padding: 30px;
    width: 1200px;
}
.how-do-i-work {
    display: inline-block;
    margin: auto;
    padding: 30px;
    width: 1200px;
}
.block2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    font-size: 25px;
    font-weight: bold;
}
.how-do {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #727272;
}
.vid {
    /* display: block;
    margin: 40px auto; */
    /* padding-left: 230px; */
    padding: auto;
    margin-left: 180px;
    margin-bottom: 50px;
    width: 750px;
    height: 400px;
}
.copyright {
    background: #34547A;
    margin: 0 auto;
    padding: 0 auto;
}
.fot {
    margin: auto;
    padding: 30px;
    width: 1200px;

}
.john {
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    color: #FFF;
    padding-left: 55px;
}
.smith {
    font-size: 16px;
    font-weight: bold;
}